<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dbc.admin.dao.AccountDao">
    <!--实体映射-->
    <resultMap id="BaseResultMap" type="org.dbc.admin.domain.Account">
        <id property="id" column="id"/>
        <!--用户Id-->
        <result property="userId" column="user_id"/>
        <!--钱包地址-->
        <result property="walletAddress" column="wallet_address"/>
        <!--余额-->
        <result property="balance" column="balance"/>
        <!--币种 0:dbc-->
        <result property="currencyType" column="currency_type"/>
        <!--版本-->
        <result property="version" column="version"/>
        <!--创建时间-->
        <result property="createTime" column="create_time"/>
        <!--创建人-->
        <result property="createBy" column="create_by"/>
        <!--修改时间-->
        <result property="modifiedTime" column="modified_time"/>
        <!--修改人-->
        <result property="modifiedBy" column="modified_by"/>
        <!--1 有效 0无效-->
        <result property="enabled" column="enabled"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, user_id, wallet_address, balance, currency_type, version, create_time, create_by, modified_time,
        modified_by, enabled
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectByAccounts" resultType="org.dbc.admin.domain.Account">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_account
    </select>


</mapper>